{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off"
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ]
}
